<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>Añadir un nuevo amigo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="aniadirAmigoContent" class="ion-padding">

  <ion-fab class="aniadirPartidaBtn" vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button class="botonInfo" color="light" size="small" (click)="info()">
      <ion-icon name="information-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Search Bar -->
  <ion-searchbar placeholder="Filtrar" [(ngModel)]="term" animated="true" class="searchbarinput mt-3"></ion-searchbar>


  <ion-card *ngFor="let user of usersData | filter:term" (click)="presentConfirm(user.uid, user.displayName)">
    <ion-card-header>
      {{ user.displayName }}
    </ion-card-header>
    <ion-card-content>
      {{ user.email }}
    </ion-card-content>
  </ion-card>
</ion-content>
