#aniadirAmigoContent {
    --background: rgb(83, 96, 131);
}

ion-searchbar{        
    .searchbar-input-container{            
        .searchbar-input{
            color: white;
        }
    }
 }

 .botonInfo {
    margin: 0;
    margin: 5px;
    margin-top: 0px;
    width: 25px;
    height: 25px;
    line-height: 25px;
}