<ion-header>
  <ion-toolbar>
    <ion-title>Datos de la partida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="homePartidaContent">
  <h1 class="text-center text-white">{{partida.nombre | uppercase}}</h1>

  <ion-card *ngFor="let personaje of personajes">
    <ion-card-header>
      <ion-card-subtitle>{{personaje.estado}}</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
</ion-content>
