<ion-header>
  <ion-toolbar>
    <ion-title>Datos de la partida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="homePartidaContent">
  <h1 class="text-center text-white">{{partida.nombre | uppercase}}</h1>
  <h2 class="text-center text-white">Mapa</h2>
  <ion-card-content>
    <div class="example-boundary" [ngStyle]="getImagenMapa()">
      <div class="circle" cdkDragBoundary=".example-boundary" cdkDrag (cdkDragEnded)="dragEnded($event, personaje)" *ngFor="let personaje of personajes">
        <p class="align-middle h-100">{{getFirstTwoLettersPersonaje(personaje)}}</p>
      </div>
    </div>
    <div [ngStyle]="getImagenMapa()" class="w-100 h-auto"></div>
    <!-- <img src={{partida.imagenMapa}} class="center w-100"/> -->
  </ion-card-content>

  <h2 class="text-center text-white">Personajes</h2>
  <ion-card class="col-5 ml-3 mr-0 mb-1 float-left" *ngFor="let personaje of personajes">
    <ion-card-header class="pl-1 pr-1">
      <ion-card-subtitle>{{getDatosUsuario(personaje.idUsuario)}}</ion-card-subtitle>
      <ion-card-title>{{personaje.nombre}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src={{personaje.imagen}} class="center"/>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="goToReglas()" class="w-100 mt-4 pl-3 pr-3" id="botonReglas">Ver reglas de partida</ion-button>
</ion-content>
