<div class="questionComponent" [formGroup]="form">
  <div [ngSwitch]="question.controlType">
    <ion-item>
      <ion-label [attr.for]="question.key">{{question.label}}</ion-label>

      <input *ngSwitchCase="'textbox'" [formControlName]="question.key"
            [id]="question.key" [type]="question.type">

      <ion-select value="brown" okText="Okay" cancelText="Dismiss" [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
        <ion-select-option *ngFor="let opt of question.options" [value]="opt.key">{{opt.key}}</ion-select-option>
      </ion-select>

      <input class="col-5 statQuestion mr-2" *ngSwitchCase="'stats'" [formControlName]="question.key + 'stat1'"
        [id]="question.key + 'stat1'" [type]="question.type">
      <input class="col-3 statQuestion statInput" *ngSwitchCase="'stats'" [formControlName]="question.key + 'stat2'"
        [id]="question.key + 'stat2'" [type]="question.type">
      
    </ion-item>
  </div>
  <!-- <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div> -->
</div>