ion-select {
  width: 100%;
}

.ng-invalid {
  border-style: hidden;
  border-bottom-style: solid;
  border-bottom-color: red;
  border-bottom-width: thin;
}

.ng-valid {
  border-style: hidden;
}

.questionComponent {
  border-style: hidden;
}