#crearPersonajeContent {
    --background: rgb(83, 96, 131);
}

.inputBasicosPersonaje {
    border-style: none;
    border-bottom-style: solid;
    border-color: red;
}

.btnSubirImagen {
    --padding-start: 5%;
    --padding-end: 5%;
}