#resetPasswordContent {
    --background: #A5ABBE;
}
.inputs {
    --background: #A5ABBE;
}

#resetPasswordContent form {
    --background-color: transparent;
}

.header {
    --background: rgb(83, 96, 131);
    color: white;
}

#resetPasswordButton {
    --background: #233259;
}

ion-back-button {
    color: white;
}