<ion-header class="header">
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="resetPasswordContent">
  <form>
    <ion-item lines="full" class="inputs">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" id="resetPasswordButton" expand="block">Send</ion-button>
      </ion-col>
    </ion-row>

    <small class="ml-3 mr-3 text-center">
      Por favor, introduce el correo electrónico que usaste para registrarte en la aplicación.
    </small>
  </form>
</ion-content>