<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="partidas">
      <ion-icon src="assets/icon/diceBlack.svg"></ion-icon>
      <ion-label>Partidas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="amigos">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Amigos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Mi perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>