<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon src="assets/icon/rolePlaying.svg"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="foro">
      <ion-icon name="chatbox-outline"></ion-icon>
      <ion-label>Foro</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="personaje">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Personaje</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="opciones">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Opciones</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>