<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Verificación de email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="verifyContent">
  <ion-grid>
    <ion-row>
      <h2>Verifique el correo electrónico que ha empleado para el registro en la aplicación</h2>
      <p>
        Comprueba la bandeja de entrada para acceder al correo que se ha mandado para finalizar el proceso de registro.
      </p>
      <ion-button type="submit" (click)="authService.SendVerificationMail()" expand="block">
        Reenviar correo de verificación
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>