#perfilContent {
    --background: rgb(83, 96, 131);
}

.centrar {
    margin-left: auto;
    margin-right: auto;
}

.logoutButton {
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;
}