<ion-header>
  <ion-toolbar>
    <ion-title>Creación del personaje no jugador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="crearPersonajeContent">
  <div *ngIf="(questions.length > 0)" style="padding: 4%; padding-bottom: 0%;">
    <ion-item>
      <label for="nombre" class="col-3 pl-0 pr-1 pt-3 mr-3">Nombre</label>
      <input type="text" [(ngModel)]="nombre" name="nombre" class="col-8 inputBasicosPersonaje" />
    </ion-item>

    <div *ngIf="!isUploading && !isUploaded">
      <label class="col-3 pl-0 pr-1 pt-3 mr-3 text-light">Imagen</label>
    
      <ion-button color="light" shape="round" size="small" class="btnSubirImagen col-12 pl-0 pr-0">
        <input id="uploadBtn" type="file" title="fdsaa" class="upload" (change)="uploadFile($event.target.files)" />
      </ion-button>
    </div>

    <ion-card class="ion-text-center" *ngIf="isUploading && !isUploaded">
      <ion-card-content>
        <div *ngIf="percentage | async as pct">
          Progreso: {{ pct | number }}%
          <ion-progress-bar value="{{ pct / 100 }}"></ion-progress-bar>
        </div>
        <div *ngIf="snapshot | async as snap">
          Tamaño del archivo: {{ snap.totalBytes | fileSizePipe }} Transferido:
          {{ snap.bytesTransferred | fileSizePipe }}
          <div *ngIf="snapshot && snap.bytesTransferred != snap.totalBytes">
            <ion-button color="warning" size="small" (click)="task.pause()" class="button is-warning">Pausar</ion-button>
            <ion-button size="small" (click)="task.resume()" class="button is-info">Reanudar</ion-button>
            <ion-button color="danger" size="small" (click)="task.cancel()" class="button is-danger">Cancelar</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="ion-text-center" *ngIf="!isUploading && isUploaded">
      <ion-card-content>
        <div *ngIf="UploadedFileURL | async as url">
          <img [src]="url" />
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="(questions.length > 0)" style="padding: 5%">
    <app-dynamic-form [questions]="questions" (saveForm)="doSaveForm($event)"></app-dynamic-form>
  </div>
</ion-content>
